@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

#map {
  height: 400px;
  width: 400px;
}

.display-job {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  padding: 5px;

  border: 3px solid black;
}


.mapsAndIndex {
  display: flex;
  flex-direction: line;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  padding: 8px;
  border: 3px solid brown;

}

.display-google-maps {
  display: flex;
  flex-direction: column;
  padding: 5px;
  width: 70%;
  display: flex;
  height: 70%;
  height: auto;
  border: orchid 3px solid;
}

.displayIndex {
  padding: 5px;
  margin-top: 5px;
  width: 100%;
  display: flex;
  height: 30%;
  height: auto;
  border: green 3px solid;
}

.top-nav-container {
  flex-direction: row;
  width: 100%;
  height: auto;
  background-color: #0b7988;
}

.top-nav-container .top-nav-search-bar-section {
  float: left;
  width: auto;
  margin-left: 20px;
  height: auto;
}

.top-nav-container .top-nav-filter-section {
  width: auto;
  float: right;

  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  margin-top: 30px;
  border: 1px solid whitesmoke;
  padding: 21px;
  border-radius: 4px;
}

.top-nav-container .top-nav-submit-button {
  width: auto;
  float: right;
}

.top-nav-filter-section .price-range-input {
  float: right;
}

.top-nav-filter-section .city-filter-input {
  float: right;
}

.jobTitle {
  height: auto;
  display: flex;
  ;
  width: 100%;
  color: white;
}

.top-nav-filter-section .submit-button {
  float: right;
}


.top-nav-filter-section .job-type-input {
  float: right;
}

.city-input {
  width: 150px;
}

.position-input {
  width: 150px;
}

.submit-button {
  float: right;
}

.jobTitle {
  display: flex;
  ;
  width: 100%;
}

img {
  width: 100px;
  height: 100px;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 25%;
  height: auto;
  color: white;
}

.description {
  display: flex;
  height: auto;
  justify-self: start;
  flex-direction: column;
  background-color: purple;
  width: 50%;
}

.description p {
  margin: 10px;
}

.index {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 25%;
  background-color: green;
}

.container2 {
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
}

.container3 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: blue;
  width: 100%;
  height: auto;
}

body {
  background: #f2f2f2;
  font-family: 'Open Sans', sans-serif;
}

.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 3px solid #00B4CC;
  border-right: none;
  padding: 5px;
  height: 36px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus {
  color: #00B4CC;
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid #00B4CC;
  background: #00B4CC;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.top-nav-search-section {
  width: 30%;
}

#jobsHandler {
  width: 70%;
  margin: 5px;
  height: 500px;
  overflow-y: auto;
}

.valeurIndex{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 60%;
  font-size: 25px;  
}


.apply{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 40%;
  background-color: cyan;
  margin: 5px;
  text-decoration: none;
  border-radius: 10px;
  font-size: 18px;
}

.apply:hover{
  opacity: 70%;
  text-decoration: none;
}