<div class = "top-nav-container">
  <div class="top-nav-search-bar-section">
    <input class="form-control mr-sm-2" type="text" placeholder="Search">
  </div>
  <div class="top-nav-filter-section">
    <mat-form-field appearance="fill">
      <mat-label>CityFilter</mat-label>
      <input matInput placeholder="Ex.Montreal">
    </mat-form-field>
    
    <mat-form-field appearance="fill">
      <mat-label>Type Of Position</mat-label>
      <input matInput placeholder="Ex.Mont-Royal">
    </mat-form-field>

    <button mat-button>Search</button>
  </div>
</div>
